@{
    ViewData["Title"] = "Login Page";
    Layout = null;

    var configuration = (IConfiguration)ViewContext.HttpContext.RequestServices.GetService(typeof(IConfiguration));

    var apiBaseUrl = configuration["ApiSettings:APIBaseUrl"];
}
@await Html.PartialAsync("~/Views/Shared/_CDN.cshtml")
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">Login</h4>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="loginUsername" placeholder="Enter username">
                        <span id="userNameValidate"></span>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Enter password">
                        <span id="passwordValidate"></span>
                    </div>
                    <button id="loginBtn" type="button" class="btn btn-primary mt-3">Login</button>
                    <a class="btn btn-primary mt-3" asp-controller="Account" asp-action="Registration">Register</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<script type="text/javascript">

    $(document).ready(function () {

        $('#loginUsername').blur(validateForm);
        $('#password').blur(validateForm);

        $('#loginBtn').click(function (e) {
            debugger;
            e.preventDefault(); // prevent default form submission
            debugger;
            var formData = {
                UserName: $('#loginUsername').val(),
                Password: $('#password').val(),
            };
            // const loginUrl = '@apiBaseUrl/api/Authentication/Login';
            const loginUrl = '/Account/Authenticate';
            $.ajax({
                url: loginUrl,
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(formData),
                success: function (response) {
                    debugger;
                    if (!response.result) {
                        // Set session item
                        console.log(response.result);
                        alert(response.result);
                    }
                    else {
                        //success redirect to Dashboard Page
                        setSessionItem('jwtToken', response.apiToken);
                        setSessionItem('expiration', response.expiration);
                        window.location = '/Customer/Index';

                    }
                    console.log(response);
                    // Handle success, redirect to another page, show a success message, etc.
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert(xhr.responseText);
                    // Handle error, display error message, etc.
                }
            });
        });

        function setSessionItem(key, value) {
            debugger;
            try {
                sessionStorage.setItem(key, JSON.stringify(value));
            } catch (error) {
                console.error('Error setting session item:', error);
            }
        }
    });


    function validateForm(formData) {
        debugger;

        let validateName = /^[a-zA-Z]+$/;
        let validatePassword = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@@$!%*?&])[A-Za-z\d@@$$!%*?&]{8,}$/;

        var username = $('#loginUsername').val().trim();
        var password = $('#password').val().trim();

        var isValid = true;

        if (username === '') {
            $('#userNameValidate').text('Please enter your username.');
            document.getElementById("userNameValidate").style.color = "red";
            isValid = false;
        } else if (!validateName.test(username)) {
            $('#userNameValidate').text('Please enter alphabets only.');
            document.getElementById("userNameValidate").style.color = "red";
            isValid = false;
        } else {
            $('#userNameValidate').text('');
        }

        if (password === '') {
            $('#passwordValidate').text('Please enter your password.');
            document.getElementById("passwordValidate").style.color = "red";
            isValid = false;
        } else if (!validatePassword.test(password)) {
            if (password.length < 8) {
                $('#passwordValidate').text('Password should be 8 characters it consist of One upper char, One lower, Special character and a digit, i.e = Test@1234.');
            }
            document.getElementById("passwordValidate").style.color = "red";
            isValid = false;
        } else {
            $('#passwordValidate').text('');
        }

        return isValid;

    }
</script>
