@{
    ViewData["Title"] = "Registration Page";
    Layout = null;
}
@await Html.PartialAsync("~/Views/Shared/_CDN.cshtml")
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center mb-4">Customer Registration</h2>
            <div class="form-group">
                <label for="name">First name</label>
                <input type="text" class="form-control" id="firstName" name="firstName" required>
            </div>
            <div class="form-group">
                <label for="name">Last name</label>
                <input type="text" class="form-control" id="lastName" name="lastName" required>
            </div>
            <div class="form-group">
                <label for="name">Username</label>
                <input type="text" class="form-control" id="userName" name="userName" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="phone">Phone Number</label>
                <input type="tel" class="form-control" id="phone" name="phone" pattern="[0-9]{10}" required>
                <small class="form-text text-muted">Please enter 10 digits phone number.</small>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" minlength="8" required>
                <small lass="form-text text-muted">Password should be 8 characters it consist of One upper char, One lower, Special character and a digit, i.e = Test@1234 </small>
            </div>
            <button id="registerBtn" type="button" class="btn btn-primary btn-block">Register</button>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<script type="text/javascript">

    $(document).ready(function () {

        $('#registerBtn').click(function (e) {
            debugger;
            e.preventDefault(); // prevent default form submission

            var formData = {
                FirstName: $('#firstName').val(),
                LastName: $('#lastName').val(),
                UserName: $('#userName').val(),
                Email: $('#email').val(),
                Password: $('#password').val(),
                PhoneNumber: $('#phone').val(),
                LoginUser: $('#userName').val()
            };
            validateForm(formData);
            $.ajax({
                url: 'https://localhost:7070/api/Authentication/Registration?role=' + "user",
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(formData),
                success: function (response) {
                    if (!response.result) {
                        alert(response.message);
                    }
                    else {
                        //success redirect to login Page
                        alert(response.message);
                        window.location = '/Account/Index';

                    }
                    console.log(response);
                    // Handle success, redirect to another page, show a success message, etc.
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert(xhr.responseJSON.message);
                    // Handle error, display error message, etc.
                }
            });
        });
    });
    function validateForm(formData) {
        debugger;
        let validateName = /^[a-zA-Z]+$/;
        let validateEmail = /^([a-zA-Z0-9_\-\.]+)@@([a - zA - Z0 - 9_\-\.] +)\.([a-zA-Z]{2,5})$/;
        let validateNumber = /^[0-9]+$/;
        let validatePassword = /^(?=.[A-Za-z])(?=.\d)[A-Za-z\d]{8,}$/;

        let isValid = true;

        if (!validateName.test(formData.FirstName)) {
            if (formData.FirstName == '') {
                document.getElementById("firstNameValidate").innerHTML = "Please enter your first Name";
            } else {
                document.getElementById("firstNameValidate").innerHTML = "Please enter alphabets only";
            }
            document.getElementById("firstNameValidate").style.color = "red";
            isValid = false;
        }

        if (!validateName.test(formData.LastName)) {
            if (formData.LastName == '') {
                document.getElementById("lastNameValidate").innerHTML = "Please enter your last Name";
            } else {
                document.getElementById("lastNameValidate").innerHTML = "Please enter alphabets only";
            }
            document.getElementById("lastNameValidate").style.color = "red";
            isValid = false;
        }

        if (!validateName.test(formData.UserName)) {
            if (formData.UserName == '') {
                document.getElementById("userNameValidate").innerHTML = "Please enter your User Name";
            } else {
                document.getElementById("userNameValidate").innerHTML = "Please enter alphabets only";
            }
            document.getElementById("userNameValidate").style.color = "red";
            isValid = false;
        }

        if (!validateEmail.test(formData.Email)) {
            if (formData.Email == '') {
                document.getElementById("emailValidate").innerHTML = "Please enter your Email";
            } else {
                document.getElementById("emailValidate").innerHTML = "Please enter Email Format: 'example@gmail.com'";
            }
            document.getElementById("emailValidate").style.color = "red";
            isValid = false;
        }

        if (!validatePassword.test(formData.Password)) {
            if (formData.Password == '') {
                document.getElementById("passwordValidate").innerHTML = "Please enter your Password. Password should be 8 characters it consist of One upper char, One lower, Special character and a digit, i.e = Test@1234";
            } else {
                document.getElementById("passwordValidate").innerHTML = "Please enter Password";
            }
            document.getElementById("passwordValidate").style.color = "red";
            isValid = false;
        }

        if (!validateNumber.test(formData.PhoneNumber)) {
            if (formData.PhoneNumber == '') {
                document.getElementById("phoneValidate").innerHTML = "Please enter your Phone Number";
            } else {
                document.getElementById("phoneValidate").innerHTML = "Please enter Numbers only";
            }
            document.getElementById("phoneValidate").style.color = "red";
            isValid = false;
        }

        return isValid;

    }
</script>
