@{
    ViewData["Title"] = "CustomerList Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var configuration = (IConfiguration)ViewContext.HttpContext.RequestServices.GetService(typeof(IConfiguration));
    var apiBaseUrl = configuration["ApiSettings:APIBaseUrl"];
}


<div class="container">
    <h2 class="mb-2">Customer List</h2>
    <div class="d-flex justify-content-end mb-2">
        <a asp-action="Create" class="btn btn-outline-primary btn-sm rounded-3"> <i class="bi bi-plus-circle"></i> Add Customer </a>
    </div>
    <div class="table-responsive">
        <table id="example" class="display" style="width:100%">
            <thead class="thead-dark">
                <tr>
                    <th class="text-start">Sr no</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th class="text-start">Phone Number</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="customerTableBody">
            </tbody>
        </table>
    </div>


    <div id="editCustomerModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editCustomerModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editCustomerModalLabel">Edit Customer</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="editCustomerForm">
                        <input type="hidden" class="form-label" id="customerId" />
                        <div class="mb-3">
                            <label for="editFirstName" class="form-label"> First Name </label>
                            <input type="text" class="form-control" id="editFirstName" required>
                <span id="firstNameValidate"></span>
                        </div>
                        <div class="mb-3">
                            <label for="editLastName" class="form-label"> Last Name </label>
                            <input type="text" class="form-control" id="editLastName" required>
                <span id="lastNameValidate"></span>
                        </div>
                        <div class="mb-3">
                            <label for="editPhoneNumber" class="form-label"> Phone Number </label>
                            <input type="text" class="form-control" id="editPhoneNumber" required>
                            <span id="phoneValidate"></span>
                        </div>
                        <div class="mb-3">
                            <label for="editCustomerEmail" class="form-label"> Email </label>
                            <input type="email" class="form-control" id="editCustomerEmail" required>
                            <span id="emailValidate"></span>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="updateCustomer()">Update</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            debugger;
            const apiURL = '@apiBaseUrl/api/Customers/GetCustomer';

            $.ajax({
                url: apiURL,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    if (data && data.length > 0) {
                        var tableBody = $('#customerTableBody');
                        tableBody.empty();

                        data.forEach(function (customer, index) {
                            var row = '<tr>' +
                                '<td class="text-start">' + ++index + '</td>' +
                                '<td>' + customer.firstName + '</td>' +
                                '<td>' + customer.lastName + '</td>' +
                                '<td class="text-start">' + customer.phoneNumber + '</td>' +
                                '<td>' + customer.email + '</td>' +
                                '<td>' +
                                '<button class="btn btn-primary btn-sm m-1 rounded-3" id="cust_' + customer.id + '" onclick="editCustomer(' + customer.id + ')">Edit</button>' +
                                '<button class="btn btn-danger btn-sm rounded-3" onclick="deleteCustomer(' + customer.id + ')">Delete</button>' +
                                '</td>' +
                                '</tr>';
                            tableBody.append(row);
                        });

                        new DataTable('#example');

                    } else {
                        console.log('No data found');
                    }
                },
                error: function (xhr, textStatus, errorThrown) {

                    console.error('Error:', errorThrown);
                }
            });
        });

    </script>

    <script>

        const apiBaseUrl = '@apiBaseUrl/api/Customers/GetCustomerById/';

        function editCustomer(customerId) {


            var editApiUrl = apiBaseUrl + customerId;
            debugger;
            $.ajax({
                url: editApiUrl,
                type: 'GET',
                dataType: 'json',
                success: function (customer) {
                    console.log(customer);
                    document.getElementById('customerId').value = customer.id;
                    document.getElementById('editFirstName').value = customer.firstName;
                    document.getElementById('editLastName').value = customer.lastName;
                    document.getElementById('editPhoneNumber').value = customer.phoneNumber;
                    document.getElementById('editCustomerEmail').value = customer.email;

                    var editCustomerModal = new bootstrap.Modal(document.getElementById('editCustomerModal'));
                    editCustomerModal.show();

                },
                error: function (xhr, textStatus, errorThrown) {
                    console.error('Error:', errorThrown);
                }
            });
        }

        function updateCustomer() {
            debugger;
            var formData = {
                id: $('#customerId').val(),
                FirstName: $('#editFirstName').val(),
                LastName: $('#editLastName').val(),
                Email: $('#editCustomerEmail').val(),
                PhoneNumber: $('#editPhoneNumber').val()
            };
            validateForm(formData);
            if (validateForm(formData)) {

                const apiURL = '@apiBaseUrl/api/Customers/UpdateCustomer/' + formData.id;

                $.ajax({
                    url: apiURL,
                    type: 'PUT',
                    contentType: 'application/json',
                    data: JSON.stringify(formData),
                    success: function (response) {
                        if (!response.result) {
                            alert(response.message);
                        }
                        else {
                            //success redirect to login Page
                            alert(response.message);
                            window.location = '/Customer/Index';

                        }
                        console.log(response);
                        // Handle success, redirect to another page, show a success message, etc.
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        alert(xhr.responseJSON.message);
                        // Handle error, display error message, etc.
                    }
                });
            }
        }

        function deleteCustomer(customerId) {
            debugger;
            const apiURL = '@apiBaseUrl/api/Customers/DeleteCustomer/' + customerId;

            $.ajax({
                url: apiURL,
                type: 'Delete',
                contentType: 'application/json',
                success: function (response) {
                    if (!response.result) {
                        alert(response.message);
                    }
                    else {
                        alert(response.message);
                        window.location = '/Customer/Index';

                    }
                    console.log(response);
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert(xhr.responseJSON.message);
                }
            });
        }


        function validateForm(formData) {
            debugger;
            let validateName = /^[a-zA-Z]+$/;
            let validateEmail = /^[^\s@@]+@@[^\s@@]+\.[^\s@@]+$/;
            let validateNumber = /^[0-9]+$/;

            var firstname = $('#editFirstName').val().trim();
            var lastname = $('#editLastName').val().trim();
            var email = $('#editCustomerEmail').val().trim();
            var phone = $('#editPhoneNumber').val().trim();

            let isValid = true;

            if (firstname === '') {
                $('#firstNameValidate').text('Please enter your first name.');
                document.getElementById("firstNameValidate").style.color = "red";
                isValid = false;
            } else if (!validateName.test(firstname)) {
                $('#firstNameValidate').text('Please enter alphabets only.');
                document.getElementById("firstNameValidate").style.color = "red";
                isValid = false;
            } else {
                $('#firstNameValidate').text('');
            }

            if (lastname === '') {
                $('#lastNameValidate').text('Please enter your last name.');
                document.getElementById("lastNameValidate").style.color = "red";
                isValid = false;
            } else if (!validateName.test(lastname)) {
                $('#lastNameValidate').text('Please enter alphabets only.');
                document.getElementById("lastNameValidate").style.color = "red";
                isValid = false;
            } else {
                $('#lastNameValidate').text('');
            }

            if (email === '') {
                $('#emailValidate').text('Please enter your email.');
                document.getElementById("emailValidate").style.color = "red";
                isValid = false;
            } else if (!validateEmail.test(email)) {
                $('#emailValidate').text('Please enter in fromate "eaxmple@@gamil.com".');
                document.getElementById("emailValidate").style.color = "red";
                isValid = false;
            } else {
                $('#emailValidate').text('');
            }

            if (phone === '') {
                $('#phoneValidate').text('Please enter your phone number.');
                document.getElementById("phoneValidate").style.color = "red";
                isValid = false;
            } else if (!validateNumber.test(phone)) {
                $('#phoneValidate').text('Please enter numbers only.');
                document.getElementById("phoneValidate").style.color = "red";
                isValid = false;
            } else if (phone.length !== 10) {
                $('#phoneValidate').text('Phone number should be exactly 10 digits.');
                document.getElementById("phoneValidate").style.color = "red";
                isValid = false;
            } else {
                $('#phoneValidate').text('');
            }

            return isValid;

        }

    </script>
}
